<%- include('../partials/header')%>


<section id="specific-flight">
  <div>Airline: <%= flight.airline %></div>
  <div>Airport: <%= flight.airport %></div>
  <div>Flight No: <%= flight.flightNo %></div>
  <div>Depart: <%= flight.departs %></div>
  <div>Destination(s): <% flight.destinations.forEach(function(d) { %>
    <li>
    <%= d.airport %> ||
    <%= d.arrivals %>
    </li>
  </div>
  <% }) %>
  <div>Ticket List: <% tickets.forEach(function(t) { %>
    <li>Seat: 
    <%= t.seat %> || Price: $
    <%= t.price %>
    </li>
  </div>
  <% }) %>
</section>
<h2>Add a Destination</h2>
<form 
  id="new-form"
  action="/flights/<%= flight._id %>/destinations"
  method="POST">
  <label>Airport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        <option value="DEN" selected>DEN</option>
      </select>
  </label><br>
  <label>Arrival:</label> 
    <input type="datetime-local" name="arrivals">
  </label><br>
  <input type="submit" value="Add Destination">
</form>

<br><br>
<form id="add-ticket-button" action="/flights/<%= flight._id %>/tickets/new">
    <input type="submit" value="Add a Ticket">
</form> 


<%- include('../partials/footer')%>